.navbar{
  background: #0f0f0f !important;
  box-shadow: 0px 0px 10px #515151;
}

.bar3 {
  height: 20px;
  width: 20px;
}
.you {
  height: 30px;
  width: 80px;
}

.search{
  width: 600px;
  background-color: transparent;
  border: 1px solid #222222;
  border-radius: 999px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.search input{
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 80%;
  padding: 0px 10px;
}

.b{
  background-color: #e4dbdb;
  width: 70px;
  height: 43px;
  padding: 13px;
}
.a{
 
  width: 70px;
  height: 43px;
  padding: 13px; 
}

.mic-fill{
  background-color: #222222;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 9px;
  margin-left: 10px;
  margin-top: 5px;

}
.right-icons svg{
  margin: 0px 5px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.right-icons svg:hover{
  background-color: #222222;
}

.rounded-pill{
  width: 30px !important;
  height: 30px !important;
}

.translate-middle {
  transform: translate(-108%,-45%) !important;
}

.row {
  margin-top: 40px !important;
}

.col1{
  margin-top: 30px !important;
  position: relative !important;
}
.img {
  width: 300px;
}